body {
  background: linear-gradient(#ff4c68, #fff);
  color:  black;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #2d4059;
  border-width: 4px;
  width: 10%;
}

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.sf {
  padding: 2.5% 5%;
  text-align: center;
}
