body {
  background-color: #222831;
  color:  #eeeeee;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #2d4059;
  border-width: 4px;
  width: 10%;
}

h1 {
  color: #ff5722;
}

h3 {
  color: #ff5722;
}
p{
  color: #eeeeee;
}
a:hover{
  color: #ff5722;
}
