body {
  background: linear-gradient(#ff4c68, #fff);
  color:  black;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #2d4059;
  border-width: 4px;
  width: 10%;
}

nav {
  padding: .5rem 1.5rem;
  margin-left: 50px;
  position: absolute;
  right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
  color: black;
}
.sf {
  padding: 2.5% 5%;
  text-align: center;
}
